.container{
  width: 100%!important;
  float: left!important;
  margin-left: -7%;
}

.container-logo{
  margin-left: 10%;
}

.list {
  text-align: left;
  max-width: 830px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin-left: 50%;
}

.edit-form {
  max-width: 300px;
  margin-left: 50%;
}

.edit-anagrafica-form {
  margin: auto;
  width: 126%;
  margin-left: 11%;
}


label {
  display: inline-block!important;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

body.react-confirm-alert-body-element {
  overflow: auto!important;
}

.col-md-6{
  padding-bottom: 6%;
}

.pad-top-6{
  padding-top: 6%;
}

.macroservizio-label{
}

.inline-block{
  display: inline-block;
}


.box select {
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}



.box select option {
  padding: 30px;
}

.btn-associa{
  z-index: 99;
  cursor: pointer;
}

.nav-fit-content{
  width: fit-content;
}

.tot-width{
  width: 100%;
}

.orange{
  background-color: orange!important;
}

.fit-content{
  width: fit-content!important;
}

.percent-max-content{
  width: max-content;
}

.half1 {
  float: left;
  width:9%;
}
.half2 {
  float: left;
  width: 91%!important;
  -webkit-transform: scale(.7);
  transform-origin: top;
}

.min-text-form-control {
  min-width: 114px;
}


.inline { 
  float:left; 
}

.margin-left-px{
  margin-left: 10px;
}


.half1-statistiche {
  float: left;
  width: 63%!important;
}
.half2-statistiche {
  float: left;
  width: 37%!important;
}

.anagrafica-cliente-container{
  width: 1000px;
}

.attribute-anagrafica-cliente{
  display: inline-block;
  margin-top: 2%;
  text-align: -webkit-auto;
  margin-right: 5%;
}

.table-anagrafica{
  width: 1000px!important;
}

.search-anag-clienti{
  width: fit-content!important;
}

.wrapper-anagrafica{
  /* margin-left: -46%; */
  margin-left: 0%;
}

.table-inserisci-anag{
  margin-left: -30%;
}

.lista-macroservizi-wrapper{
  margin-top: 3%;
  width: 1400px;
}

.note-wrapper{
  width: 1230px;
  margin-top: 33%;
  margin-left: 11%;
}

.note-button-margin-top{
  margin-top: 1%;
}

.center-login{
  display: contents;
}

.right-corner{
  position: relative!important;
  display: -webkit-inline-box;
  float: right!important;
}

.name-user{
  color: rgba(255,255,255,.75)!important;
}

.margin-left3{
  margin-left: 3%;
}